body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
}

.contents{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 100px;
    color: white;
}

a{
    background-color: white;
    padding: 30px 50px;
}

h2{
    font-size: 50px;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid #ddd;
    width: 300px;
    height: 400px;
    background-color: #eee;
    
}

.close{
    display: none;
}

.open{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    margin: 20px;
    font-size: 30px;
    padding: 20px
}